.bg{
    background-color: #e5e5e5;
}

.cart{
    margin:100px 0;
    padding:60px 0;
    background-color: #fff ;

}
.cart-item{
    display:flex;
   
    padding:15px 20px;
    justify-content: space-between;
}
.item-color{
    background-color:#f8f8f8;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.form-control{
    background-color: #dcdcdc;
    border:none;
}

.error{
    text-align: center;
    color:red;
    font-size: .8rem;
    margin-top: -20px;
    padding-left:0;
    margin-left: 0;
    display:none;
}